    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .login-modal {
        background: white;
        padding: 100px;
        border-radius: 10px;
        width: 330px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        text-align: center;
    }

    .login-modal h2 {
        margin-bottom: 50px;
    }

    .login-modal input[type="text"],
    .login-modal input[type="password"] {
        width: 90%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .login-modal button {
        width: 97%;
        padding: 12px;
        background-color: #006633;
        color: white;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
    }

    .login-links {
        cursor: pointer;
        margin-top: 20px;
        font-size: 14px;
    }

    a {
        color: black;
        text-decoration: none;
    }

    .remember-wrap {
        display: flex;
        align-items: center;
        width: 90%;
        margin: -5px auto 15px auto;
        font-size: 14px;
        text-align: left;
    }

    .remember-wrap input[type="checkbox"] {
        margin-right: 8px;
    }

    .img {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        /* 가로 가운데 정렬 */
        align-items: center;
        /* 세로 가운데 정렬 */
        gap: 50px;
        
    }
    img.icon {
    width: 40px;       /* 원하는 아이콘 크기 너비 */
    height: 40px;      /* 원하는 아이콘 크기 높이 */
    object-fit: cover; /* 비율 유지하며 컨테이너에 꽉 채움 */
     /* 필요 시 모서리 둥글게 */
}